# Maven build output
target/
!.mvn/wrapper/maven-wrapper.jar

# Sensitive Database Configurations (Prevent uploading MySQL passwords)
application.properties
db.properties
config.properties

# IntelliJ IDEA workspace files
.idea/
*.iws
*.iml
*.ipr
.kotlin

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/

# Operating System files
.DS_Store
Thumbs.db